

body {
    margin: 0;
    padding: 0;
}
header {
    margin-bottom: 20px;
    background-image: linear-gradient( #45e9ff,#28d4ea);
   position: absolute;
   width: 100%;
   height: 70px;
   top: 0;
   display: flex;
   justify-content: space-between;
    align-items: center;
}
#div-top{
    margin: 30px;
    padding: 7px;
    background-color:(rgb(207, 75, 75));
    width: 50vw;
    height: 30px;
    border-radius: 12px;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;   
}
#text-top{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:rgb(129, 89, 14);
}
#search{
    width: 250px;
    height: 30px;
    border-radius:10px;
    border: 3px solid blue;
    padding: 0;
    margin: 0;
}
#search-button{
    min-height: 40px;
    min-height: 30px;
    border-radius: 5px;
    border: 3px solid black;
    margin-right: 30px;
    padding: 5px 15px;
    transition: 0.4s;
}    
#search-button:hover{
border-color: red; 
}


#footer{
    background-color: rgb(75, 145, 226);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text-footer{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
ul{
    margin: 30px;
    padding: 30px;
}