@charset "UTF-8";

/*imports*/
@font-face {
    font-family:'font-main';
    src:url(../fonte/Satisfy-Regular.ttf) format(truetype) ; 
}
@font-face {
    font-family:'font-open';
    src:url(../fonte/Besley-Regular.ttf) format(truetype);
}
@font-face {
    font-family:'font-open-bold';
    src:url(../fonte/Besley-ExtraBold.ttf) format(truetype);
}

/*querys*/
@media screen and (max-width: 600px) {
    h1 ,.presentation-b > p{
        font-size: 2em; 
    }
}
@media screen and (min-width: 601px) {
    h1 ,.presentation-b > p {
        font-size: 2.5em; 
    }
}

@media screen and (min-width: 1000px) {
    h1, .presentation-b > p{
        font-size: 3.2em;
    }       
}

/*reset*/
 *{
    margin:0;
    padding: 0;
    font-family: font-main, Arial, Helvetica, sans-serif;
 }

 body, html{
    width: 100vw;
    height: 100vh;
 }

 /* Fundo */
 body{
     background-image: radial-gradient(ellipse at center, #ECFCFF 10%,#B2FCFF 30%,#5EDFFF 35%,#3E64FF 70%);
 }

 /* Página de abertura*/
.open-conteiner{
    width: 100%;
    height: 100%;
    position: relative;
}

.presentation{
    width: 90vw;
    max-width:800px;
    background-color: #706d6d9c;  
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

h1{
  font-family: font-open, 'Times New Roman', Times, serif;
  font-size: 1.8em;
  padding: 15px;
  text-align: center;
}
strong{
    font-family: font-open-bold, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: #1908b1;
} 

/*Animações de abertura*/
.anime{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.anime div{
    position: absolute;
    right: -1000px;
    background: url(../image/cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
 
}
.anime-cloud1{
    width: 40vw;
    height: 20vw;
    min-width: 400px;
    min-height: 200px;
    top: -50px;
    animation: anime 15s infinite linear;
  
}
.anime-cloud2{
    width: 40vw;
    height: 20vw;
    min-width: 400px;
    min-height: 200px;
    top: 400px;
    animation: anime 12s infinite linear;
}
.anime-cloud3{
    width: 35vw;
    height: 18vw;
    min-width: 300px;
    min-height: 150px;
    top: 200px;
    animation: anime 10s infinite linear;
}
.anime-cloud4{
    width: 30vw;
    height: 15vw;
    min-width: 280px;
    min-height: 140px;
    top: 800px;
    animation: anime 8s infinite linear;
}
.anime-cloud5{
    width: 25vw;
    height: 12.5vw;
    min-width: 200px;
    min-height: 100px;
    top: 600px;
    animation: anime 14s infinite linear;
}

@keyframes anime{
    from {right: -1000px}
    to {right: 100%}
 
}

/*botão de navegação*/
.cloud-button{
    border: 20px solid black;
    border-image: url(../image/cloud.png) 25 fill;
    background-color:transparent; 
    display: flex;   
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

button{
    font-family: font-main,serif;
    font-size: 1.6em;
    background-color: transparent;
    border: none;
    width: 18vw;
    height: 9vw;
    min-width: 6em;
    min-height: 3em; 
}

button:hover{ 
    font-size: 2em;
    color: #3E64FF;
    width: 20vw;
    height: 10vw; 
    min-width: 7em;
    min-height: 3.5em;
    transition: .3s;  
}




.logo{
    width: 3em ;
    opacity: 0.7;
}
.logom{
    width: 10em;
}





a{
    text-decoration: none;
}
a:hover{
    color: #3E64FF;
}

/* Página do menu */

/* Nuvem pequena
com uma tela muito estreita desapareçe uma nuvem ???*/

.grid{
 height: 50%; /*fix*/
 width: 80%;
 display: flex;
 align-items: center;
 justify-content: center;   
 flex-wrap: wrap;
 flex-direction: row;
}

.menu{
    border: 30px solid transparent;
    border-image: url(../image/cloud.png) 50 fill;
    background-color: transparent;
    width: 20vw;
    min-width: 250px;;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.menu:hover{
    transition: .3s;
    width: 25vw;
    height: 12.5vw;
    min-height: 180px;
}
h2{
   font-family: font-main, serif;
   font-size: 2em;
   margin:0;
   padding:0;
   text-align: center;   
}

h2 > p{
font-family: font-main, sans-serif;
font-weight: lighter;
 display: none;
 font-size: 0.7em;
 color: black;
}
h2:hover > p{
    display: block;
}
h2:hover{
    color:#3E64FF;
}

ul{
}
li{
   list-style-type:"\2605"; 
   font-family: font-main; 
}
/*moldura*/

.presentation-b {
    width: 90%;
    max-width:1000px;
    min-width:250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.presentation-b > p{
    min-height:500px ;
    padding: 10px, 20px;
    background-color:transparent;
    border: 40px solid black;
    border-image: url(../image/cloud-mold4.png) 95 repeat;
    text-indent: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}


.logo{
    width: 3em ;
    opacity: 0.7;
}
.logom{
    width: 10em;
}





a{
    text-decoration: none;
}
a:hover{
    color: #3E64FF;
}