@charset "utf-8";

@font-face {
    font-family:'font-main';
    src:url(../fonte/Satisfy-Regular.ttf) format(truetype) ;
}
@font-face {
    font-family:'font-name';
    src:url(../fonte/OleoScript-Bold.ttf) format(truetype);
}
@media screen and (max-width: 600px) {
    h1 ,.presentation-b > p{
        font-size: 1em; 
    }
}
@media screen and (min-width: 601px) {
    h1 ,.presentation-b > p {
        font-size: 1.2em; 
    }
}

@media screen and (min-width: 1200px) {
    h1, .presentation-b > p{
        font-size: 3em;
    }       
}
 *{
    margin:0;
    padding: 0;
    font-family: font-main, serif;
 }
/* Fundo */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(ellipse at center, #ECFCFF 10%,#B2FCFF 30%,#5EDFFF 35%,#3E64FF 70%);
}
/* Nuvem grande*/

.presentation{
    width: 100%;
    max-width:1000px;
    min-width:200px;
    height: 100%;
    background-image: url(../image/cloud.png); 
    background-position: center, center;
    background-repeat: no-repeat;
    background-size:105%;
    display: flex;   
    align-items: center;
    justify-content: center;
}
h1{
    padding: 20px 40px;
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*moldura*/

.presentation-b {
    width: 90%;
    max-width:1000px;
    min-width:250px;
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    
.presentation-b > p{
    padding: 5px, 10px;
    background-color:transparent;
    border: 40px solid black;
    border-image: url(../image/cloud-mold4.png) 95 repeat;
}

.logo{
    width: 3em ;
    opacity: 0.7;
}
.logom{
    width: 10em;
}

strong{
    font-weight: bolder;
    color: #3E64FF;
    font-family: font-name, 'Times New Roman', Times, serif ;
}

/* Botão de navegaçao entre páginas */

.cloud-button{
    border: 20px solid black;
    border-image: url(../image/cloud.png) 25 fill;
    background-color:transparent; 
    display: flex;   
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 9vw;
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 8em;
    min-height: 4em; 
}

button{
    font-family: font-main,serif;
    font-size: 1.8em;
    background-color: transparent;
    border: none;
}
.cloud-button:hover{
    transition: .2s;
    color: #3E64FF;
    width: 20vw;
    height: 10vw; 
    min-width: 10em;
    min-height: 5em;    
}
button:hover{
    transition: .3s;
    font-size: 2.2em;
    color: #3E64FF;
}

#pc{
    min-width: 70px;
    width: 20vw;
    max-width: 200px;
    position:absolute;
    left: 20px;
    bottom: 5px;   
}

/* Link igual ao botão de navegação*/

a{
    text-decoration: none;
}
a:hover{
    color: #3E64FF;
}

/* Página do menu */

/* Nuvem pequena
com uma tela muito estreita desapareçe uma nuvem ???*/

.grid{
 height: 50%; /*fix*/
 width: 80%;
 display: flex;
 align-items: center;
 justify-content: center;   
 flex-wrap: wrap;
 flex-direction: row;
}

.menu{
    border: 30px solid transparent;
    border-image: url(../image/cloud.png) 50 fill;
    background-color: transparent;
    width: 20vw;
    min-width: 250px;;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.menu:hover{
    transition: .3s;
    width: 25vw;
    height: 12.5vw;
    min-height: 180px;
}
h2{
   font-family: font-main, serif;
   font-size: 2em;
   margin:0;
   padding:0;
   text-align: center;   
}

h2 > p{
font-family: font-main, sans-serif;
font-weight: lighter;
 display: none;
 font-size: 0.7em;
 color: black;
}
h2:hover > p{
    display: block;
}
h2:hover{
    color:#3E64FF;
}

ul{
}
li{
   list-style-type:"\2605"; 
   font-family: font-main; 
}